*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Oazis;
  src: url(Fonts/Oasis-BW0JV.ttf);
}
@font-face {
 
  font-family: Mogiune;
  src: url(Fonts/MoguineSerifPersonalUseItalic-1GvwB.otf);
}
body{
  background-color: black;
}
.ContainerModule a{
  text-decoration: none;
  text-align: center;
}
.navbar-brand{
  font-family: Oazis;
}
.carousel-inner img{
  height: 300px;
}
.carousel-indicators{
  top: 230px;
}
.ContainerModule{
  position: relative;
  top: -3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  margin: 0.5em;
  width: 10.2rem;
  height: 180px;
  background-color: #E7222E;
  color: black;
}
.card p{
  text-align: center;
  font-size: 12px;
  color: black;
}
.card-img-top{
  width: 4.25em;
  margin: auto;
}
.bemutatkozas{
  background-color: #16588E;
  font: 16px;
  padding: 1rem;
  text-align: center;
}
.bemutatkozas h2{
  font-family: Carl;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.bemutatkozas p{
  font-family: Carl;
}
.kapcsolat h1{
  font-family: Oazis;
  color: white;
  padding: 1rem;
}
.kapcsolat h3{
  padding: 1rem;
  color: white;
}
.kapcsolat p{
  padding-left: 1rem;
  color: white;
}
.kiemelt{
  color: #E7222E;
  font-weight: bold;
}
footer{
  background-color: #81C4FF;
  text-align: center;
  font-size: 12px;
  padding: 0;
  color: #E7222E;
  padding-bottom: 0.2rem;
}
footer p{
  padding-top: 0.3rem;
  padding-bottom: 0;
}
footer span{
  font-weight: bold;
}
.content{
  background-color: #16588E;
  font: 16px;
  padding: 1rem;
  
}
.content h2{
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-family: Carl;
  font-weight: bold;
}
.content p{
  font-family: Carl;
  text-align: justify;
}